.u-center-text {
  text-align: center;
}

.u-margin-bottom-small {
  padding-bottom: 1.5rem;
}

.u-margin-bottom-big {
  padding-bottom: 8rem;
}

.u-margin-top-big {
  padding-top: 8rem;
}

.u-margin-top-huge {
  padding-top: 10rem;
}
